<div style="margin-top: 141px;">
	<div class="row">
		<span class="col-100 white-text special-font padding-top" style="text-align: center; font-family: 'HoeflerText'; font-style: italic; font-weight: 600; font-size: 32.5px; width: 100%; line-height: 30px;">
			Первому посту<br/>
			 все лавры
		</span>
	</div>
	<div class="row" style="padding: 0; margin-top: 26.5px;">
		<div class="col" style="padding: 0;">
			<button class="first-action" ng-click="openCreatePostModal()">Написать</button>
		</div>
	</div>
</div>