<div class="row b-content">
	<div class="col-80 col-offset-10 padding-top" style="text-align: center; color: rgb(134, 97, 255); font-weight: 600; font-size: 26px;">
		<div class="special-font" ui-sref="tab.invite" style="text-align: center; color: rgb(109, 132, 179); font-weight: 600; font-size: 26px; background-color: transparent; width: 230px; height: 230px; border-radius: 150px; margin-left: auto ; margin-right: auto; border: 2px rgb(109, 132, 179) dashed;">
			<span style="position: relative; line-height: 40px; top: 35%;">Подключить<br/>джимейл</span>
		</div>
	</div>
</div>