<ion-view title="Восстановить пароль" class="background-gradient">
	<ion-content class="padding">
		<div class="row white-text" style="margin-top: 20px;">
			<div class="col-90 padding-top invite" style="text-align: center;">
				<div class="col-offset-10">
					Укажите почту, по которой<br/>вы регистрировались, мы отправим<br/>ссылку на восстановление пароля.
				</div>
			</div>
		</div>
		<div class="row white-text">
			<div class="col-80 col-offset-10 invite padding-top">
				<div>
					<label class="item item-input">
						<input type="email" placeholder="Почта">
					</label>
				</div>
				<button class="button button-block">
					Восстановить
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
