<ion-view title="" hide-back-button="true" class="background-gradient">
	<ion-content>
		<div class="row white-text" style="padding-top: 0;">
			<div class="col invite" style="text-align: center;">
				<div class="white-text" style="font-size: 21.5px;">Кто будет<br/>в вашем кулуаре?</div>
			</div>
		</div>
		<div class="row white-text" style="margin-top: 25px;">
			<div class="col padding-top invite" style="text-align: center;">
				<div style="font-size: 15px; font-weight: 500;">
					Кулуар - это пространство для<br/>людей, которых что-то объединяет:<br/>работа, университет или проект.
				</div>
			</div>
		</div>
	</ion-content>
	<div style="background: linear-gradient(#6950B6, #5473D0); position: absolute; bottom: 25%; display: block; height: 25%; width: 100%;" ui-sref="specify-work">
		<div class="row" style="margin-top: 10%;">
			<div class="col" style="text-align: center;">
				<h4 style="color: #fff; font-size: 32.5px; font-family: 'HoeflerText-Italic'; font-style: italic; font-weight: 500;">Коллеги по работе</h4>
			</div>
		</div>
	</div>
	<div style="background: linear-gradient(#F86969, #F88D69); position: absolute; bottom: 0; display: block; height: 25%; width: 100%;" ui-sref="specify-study">
		<div class="row" style="margin-top: 10%;">
			<div class="col" style="text-align: center;">
				<h4 style="color: #fff;  font-size: 32.5px; font-family: 'HoeflerText-Italic'; font-style: italic; font-weight: 500;">Учебная группа</h4>
			</div>
		</div>
	</div>
</ion-view>
