<ion-view title="" class="promo">
	<ion-slide-box>
		<ion-slide class="background-green">
			<div class="row title">
				<div class="col-50 col-offset-25">
					<h2>Кулуар</h2>
				</div>
			</div>
			<div class="desc">
				— это место для общения коллег
			</div>
		</ion-slide>
		<ion-slide class="background-blue">
			<div class="col">
				<div class="title">Будь в курсе<br/> новостей и сплетен</div>
			</div>
			<div class="desc">
				<img src="img/promo/talk-1.png" class="talk-1" />
				<img src="img/promo/talk-2.png" class="talk-2" />
			</div>
		</ion-slide>
		<ion-slide class="background-dark-blue">
			<div class="col">
				<div class="title">Узнай, что о тебе<br/>думают</div>
			</div>
			<div class="desc">
				<img src="img/promo/avatar.png" class="avatar" />
				<div class="example">
					<div class="name">Виктор Андреев</div>
					<div class="position">Финансовый аналитик</div>
					<div class="comment">Держит под контролем сотню задач<br/>и всегда соблюдает сроки</div>
				</div>
			</div>
		</ion-slide>
		<ion-slide class="background-purpur">
			<div class="col-80 col-offset-10">
				<div class="title">Высказывайся<br/> открыто!</div>
			</div>
			<div class="desc">
				<p>— это место для общения коллег,<br/>однокурсников и людей, которых<br/> объединяет какое-то занятие.<br/> Кто будет в вашем кулуаре?</p>
				<div class="container">
					<button ui-sref="login">Начать использовать!</button>
				</div>
			</div>
		</ion-slide>
	</ion-slide-box>
</ion-view>