.fake-statusbar {
	height: 20px;
	max-height: 20px;
	font-size: 12px;
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	color: #fff;
	padding: 2px 3px 3px 3px;
}
.fake-statusbar .time {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
.fake-statusbar .pull-left { float: left; }
.fake-statusbar .pull-right { float: right; }

.bar-header.shrinking {
	height: 64px !important;
}
.bar-header.shrinking > *{
	margin-top: 20px !important;
}
.bar-subheader.shrinking {
	/*top: 64px !important;*/
}

.scroll-content.shrinking{
	top: 0 !important;
	bottom: 0 !important;
	padding-top: 44px !important;
}